{% extends "mb_main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container">

    <h5>
        Контроль подготовки к совещанию <b>"{{ meet.meet_subj }}"</b><br>
        Дата/время совещания: <b>{{ meet.meet_date }} {{ meet.meet_start }}-{{ meet.meet_end }}</b>
    </h5>
      <div class="progress fixed-bottom">
          <div class="progress-bar progress-bar-striped" id="progressbar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
      </div>
    <br>
    <!-- ------------------------------------------- -->
    <!-- checks_form  ------------------------------ -->
    <!-- ------------------------------------------- -->
    <div>
      <form action="{% url 'meetings:checksupd' meet_id %}" method="post" id="checks_form">
      {% csrf_token %}
            <table class="table table-sm table-hover table-bordered table-striped table-responsive w-100" id="checkTable" width="100%" style="font-size: 0.9rem;">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" style="text-align: center;">п/п</th>
                  <th scope="col" style="text-align: center;">Отметка</th>
                  <th colspan="3" class="w-100" scope="col" style="text-align: center;">Мероприятие</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1.</th>
                  <td style="text-align: center;">
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="p_studios" name="p_studios" disabled>
                      </div>
                  </td>
                  <td colspan="3" scope="col">Студия зарезервирована</td>
                </tr>
                <tr>
                  <th scope="row">2.</th>
                  <td style="text-align: center;">
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="p_members" name="p_members" disabled>
                      </div>
                  </td>
                  <td colspan="3" scope="col">Список участников подготовлен</td>
                </tr>
                <tr>
                  <th scope="row">3.</th>
                  <td style="text-align: center;">
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="p_callmembers" name="p_callmembers">
                      </div>
                  </td>
                  <td colspan="3" scope="col">Обзвонить участников и подтвердить участие</td>
                </tr>
                {% for m in members %}
                <tr>
                  <th scope="row"></th>
                  <td></td>
                  <td colspan="3">
                      <div class="form-group form-check" style="margin:0;">
                        <input type="checkbox" class="form-check-input" id="pm_{{ m.id }}" name="pm_{{ m.id }}">
                        <label class="form-check-label" for="pm_{{ m.id }}">{{ m.f }} {{ m.i }} {{ m.o }} - {{ m.dol }} ({{ m.dep }})</label>
                      </div>
                  </td>
                </tr>
               {% endfor %}
                <tr>
                  <th scope="row">4.</th>
                  <td style="text-align: center;">
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="p_items" name="p_items" disabled>
                      </div>
                  </td>
                  <td colspan="3" scope="col">Подготовить повестку совещания</td>
                </tr>
                <tr>
                  <th scope="row">5.</th>
                  <td style="text-align: center;">
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="pi_" name="pi_">
                      </div>
                  </td>
                  <td colspan="3" scope="col">Подготовить письмо в адрес участников</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td></td>
                  <td colspan="3">
                      <div class="form-group form-check form-check-inline" style="margin-bottom: 0;">
                        <input type="checkbox" class="form-check-input" id="pi_1" name="pi_1">
                        <label class="form-check-label" for="pi_1">Подготовлено</label>
                      </div>
                      <div class="form-group form-check form-check-inline" style="margin-bottom: 0;">
                        <input type="checkbox" class="form-check-input" id="pi_2" name="pi_2">
                        <label class="form-check-label" for="pi_2">Согласовано в САД</label>
                      </div>
                       <div class="form-group form-check form-check-inline" style="margin-bottom: 0;">
                        <input type="checkbox" class="form-check-input" id="pi_3" name="pi_3">
                        <label class="form-check-label" for="pi_3">Подписано в САД</label>
                      </div>
                       <div class="form-group form-check form-check-inline" style="margin-bottom: 0;">
                        <input type="checkbox" class="form-check-input" id="pi_4" name="pi_4">
                        <label class="form-check-label" for="pi_4">Подписано в оригинале</label>
                      </div>
                  </td>
               </tr>
                <tr>
                  <th scope="row">6.</th>
                  <td style="text-align: center;">
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="p_pps_" name="p_pps_">
                      </div>
                  </td>
                  <td colspan="3" scope="col">Письмо, повестка, список участников</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td></td>
                  <th scope="col">Отправлено по E-Mail</th>
                  <th scope="col">Отправлено ч/з экспедицию</th>
                  <th scope="col">Получение подтверждено</th>
                </tr>
                {% for m in members %}
                <tr>
                  <th scope="row"></th>
                  <td></td>
                  <td>
                      <div class="form-group form-check" style="margin-bottom: 0;">
                        <input type="checkbox" class="form-check-input" id="p_pps_1_{{ m.id }}" name="p_pps_1_{{ m.id }}">
                        <label class="form-check-label" for="p_pps_1_{{ m.id }}">{{ m.fio }}</label>
                      </div>
                  </td>
                   <td>
                      <div class="form-group form-check" style="margin-bottom: 0;">
                        <input type="checkbox" class="form-check-input" id="p_pps_2_{{ m.id }}" name="p_pps_2_{{ m.id }}">
                        <label class="form-check-label" for="p_pps_2_{{ m.id }}">{{ m.fio }}</label>
                      </div>
                  </td>
                  <td>
                      <div class="form-group form-check" style="margin-bottom: 0;">
                        <input type="checkbox" class="form-check-input" id="p_pps_3_{{ m.id }}" name="p_pps_3_{{ m.id }}">
                        <label class="form-check-label" for="p_pps_3_{{ m.id }}">{{ m.fio }}</label>
                      </div>
                  </td>
                </tr>
               {% endfor %}
                <tr>
                  <th scope="row">7.</th>
                  <td style="text-align: center;">
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="ps_" name="ps_">
                      </div>
                  </td>
                  <td colspan="3" scope="col">Получить от участников адреса студий</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td></td>
                  <td colspan="3">
                      {% for m in members %}
                      <div class="form-group form-check form-check-inline" style="margin-bottom:0;">
                        <input type="checkbox" class="form-check-input" id="ps_{{ m.id }}" name="ps_{{ m.id }}">
                        <label class="form-check-label" for="ps_{{ m.id }}">{{ m.fio }}</label>
                      </div>
                      {% endfor %}
                  </td>
                </tr>
                {%  if meet.meet_type == 'V' %}
                <tr>
                  <th scope="row">8.</th>
                  <td style="text-align: center;">
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="pv_" name="pv_">
                      </div>
                  </td>
                  <td colspan="3" scope="col">Подготовить заявку на студию в Департамент 741</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td></td>
                  <td colspan="3">
                      <div class="form-group form-check form-check-inline" style="margin-bottom: 0;">
                        <input type="checkbox" class="form-check-input" id="pv_1" name="pv_1">
                        <label class="form-check-label" for="pv_1">Подготовлено</label>
                      </div>
                      <div class="form-group form-check form-check-inline" style="margin-bottom: 0;">
                        <input type="checkbox" class="form-check-input" id="pv_2" name="pv_2">
                        <label class="form-check-label" for="pv_2">Согласовано в САД</label>
                      </div>
                       <div class="form-group form-check form-check-inline" style="margin-bottom: 0;">
                        <input type="checkbox" class="form-check-input" id="pv_3" name="pv_3">
                        <label class="form-check-label" for="pv_3">Подписано в САД</label>
                      </div>
                       <div class="form-group form-check form-check-inline" style="margin-bottom: 0;">
                        <input type="checkbox" class="form-check-input" id="pv_4" name="pv_4">
                        <label class="form-check-label" for="pv_4">Отправлено по E-Mail (9-10-10)</label>
                      </div>
                  </td>
               </tr>
                {% endif %}
                <tr>
                  <th scope="row">9.</th>
                  <td style="text-align: center;">
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="pd_" name="pd_">
                      </div>
                  </td>
                  <td colspan="3" scope="col">Получить доклады от участников</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td></td>
                  <td colspan="3">
                      {% for m in members %}
                          {% if m.is_speaker %}
                          <div class="form-group form-check form-check-inline" style="margin-bottom:0;">
                            <input type="checkbox" class="form-check-input" id="pd_{{ m.id }}" name="pd_{{ m.id }}">
                            <label class="form-check-label" for="pd_{{ m.id }}">{{ m.fio }}</label>
                          </div>
                          {% endif %}
                      {% endfor %}
                  </td>
                </tr>
                <tr>
                  <th scope="row">9.1</th>
                  <td style="text-align: center;">
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="pinit_" name="pinit_">
                      </div>
                  </td>
                  <td colspan="3" scope="col">Направить доклады участников инициатору совещания</td>
                </tr>
                <tr>
                  <th scope="row">9.2</th>
                  <td style="text-align: center;">
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="pds_" name="pds_">
                      </div>
                  </td>
                  <td colspan="3" scope="col">Направить доклады всем участникам</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td></td>
                  <td colspan="3">
                      {% for m in members %}
                          <div class="form-group form-check form-check-inline" style="margin-bottom:0;">
                            <input type="checkbox" class="form-check-input" id="pds_{{ m.id }}" name="pds_{{ m.id }}">
                            <label class="form-check-label" for="pds_{{ m.id }}">{{ m.fio }}</label>
                          </div>
                      {% endfor %}
                  </td>
                </tr>
                <tr>
                  <th scope="row">10</th>
                  <td style="text-align: center;">
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="po_" name="po_">
                      </div>
                  </td>
                  <td colspan="3" scope="col">Подтвердить участие за 1 день до совещания (обзвон)</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td></td>
                  <td colspan="3">
                      {% for m in members %}
                          <div class="form-group form-check form-check-inline" style="margin-bottom:0;">
                            <input type="checkbox" class="form-check-input" id="po_{{ m.id }}" name="po_{{ m.id }}">
                            <label class="form-check-label" for="po_{{ m.id }}">{{ m.fio }}</label>
                          </div>
                      {% endfor %}
                  </td>
                </tr>
              </tbody>
            </table>
          <input type="hidden" name="id" value="{{ id }}">
          <input type="hidden" name="total" value="{{ total }}" id="inpTotal">
          <input type="hidden" name="complete" value="{{ complete }}" id="inpComplete">
      <br>
      <a href="{% url 'meetings:table' %}" role="button" class="btn btn-secondary">Отмена</a>
      <button type="submit" class="btn btn-primary" id="#checksSave">Сохранить</button>
      </form>
</div>
</div>
{% endblock %}  {# content #}

{% block js-block %}
<script type="text/javascript">
////////////////////////////////////////////////////////////////
// checkModal Settings and Functions
//

data = {% autoescape off %}{{ checks }}{% endautoescape %};

function calcProgress() {
    // Считаем Total и Completed
    var total = $('input[type="checkbox"]').length;
    var complete = $('input:checked').length;
    var progress = Math.round(complete*100/total);
    $('#inpTotal').val(total);
    $('#inpComplete').val(complete);
    $('#progressbar').attr("style", 'width:'+progress.toString(10)+'%;');
    $('#progressbar').prop("aria-valuenow", progress.toString(10));
    $('#progressbar').text(progress.toString(10)+'%');
    if (progress < 50) { $('#progressbar').removeClass("bg-warning bg-info bg-success").addClass("bg-danger"); }
    else if (progress < 80) { $('#progressbar').removeClass("bg-danger bg-info bg-success").addClass("bg-warning"); }
    else if (progress < 100) { $('#progressbar').removeClass("bg-danger bg-warning bg-success").addClass("bg-info"); }
    else { $('#progressbar').removeClass("bg-danger bg-warning bg-info").addClass("bg-success"); };
}

$(document).ready(function() {
    // Сбрасываем все галки на чекбоксах
    $('input:checked').prop('checked', false);

    // Загружаем данные из БД
    $.each(data, function(key, value) {
        $('#'+key).prop( "checked", (value=='on') );
    });

    calcProgress();
});

// Функция подсчета Total и Completed
$('input[type="checkbox"]').click(function() {
    calcProgress();
});

</script>
{% endblock %}  {# js-block #}