{% extends "mb_main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container">

<h1 class="display-5">{% if meet_id %}Изменить{% else %}Новое{% endif %} совещание.</h1>

<form action="{% url 'meetings:update' meet_id %}" method="post">
    {% csrf_token %}

    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="meetType">Тип совещания</label>
        <select class="form-control form-control-sm" id="meetType" name ="meetType" aria-describedby="meet_type_Help">
            {% for mtc in meeting_type_choices %}
                <option value="{{ mtc.0 }}" {% if mtc.0 == meet.meet_type %}selected{% endif %}>{{ mtc.1 }}</option>
            {% endfor %}
        </select>
      </div>

      <div class="form-group col-md-3">
            <label for="meetDate">Дата совещания:</label>
            <input type="text" class="form-control form-control-sm" id="meetDate" name="meetDate" data-date-format="dd.mm.yyyy" data-provide="datepicker" value="{{ meet.meet_date | date:"d.m.Y" }}" required>
            <div class="invalid-feedback">Пожалуйста, введите дату совещания.</div>
      </div>
      <div class="form-group col-md-3">
        <label for="meetStart">Начало:</label>
        <input type="text" class="form-control form-control-sm" id="meetStart" name="meetStart" value="{{ meet.meet_start }}">
      </div>
      <div class="form-group col-md-3">
        <label for="meetEnd">Конец:</label>
        <input type="text" class="form-control form-control-sm" id="meetEnd" name="meetEnd" value="{{ meet.meet_end }}">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="meetSubj">Тема совещания:</label>
        <input type="text" class="form-control form-control-sm" id="meetSubj" name="meetSubj" placeholder="Введите тему планируемого совещания" value="{{ meet.meet_subj }}" required>
        <div class="invalid-feedback">Пожалуйста, введите тему совещания.</div>
      </div>
    </div>

<!--
    Адрес центральной студии не нужен, т.к. она первая в перечне студий!!!
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="meetPlace">Адрес студии:</label>
        <input type="text" class="form-control form-control-sm" id="meetPlace" name="meetPlace" placeholder="Введите планируемое место проведения совещаний" value="{{ meet.meet_place }}">
      </div>
    </div>
-->
<!--
    Информация о Ведущем не нужна, т.к. она выбирается в списке участников
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="meetLead">Ведущий совещания:</label>
        <input type="text" class="form-control form-control-sm" id="meetLead" name="meetLead" placeholder="Иванов Е.Н. - заместитель начальника Управления" aria-describedby="meetLead_Help" value="{{ meet.meet_lead }}">
        <small id="meetLead_Help" class="form-text text-muted">Введите информацию о ведущем совещания в формате Фамилия И.О. - должность.</small>
      </div>
    </div>
-->
    <div class="form-row">
<!--
      Информация об Инициаторе не нужна, т.к. она выбирается в списке участников
      <div class="form-group col-md-4">
        <label for="meetInit">Инициатор совещания:</label>
        <input type="text" class="form-control form-control-sm" id="meetInit" name="meetInit" placeholder="Козлов И.И." value="{{ meet.meet_init }}">
      </div>
-->
      <div class="form-group col-md-4">
        <label for="meetAcc">Ответственный за подготовку:</label>
        <input type="text" class="typeahead form-control form-control-sm" id="meetAcc" name="meetAcc" data-provide="typeahead" data-items="8" placeholder="Сидоров А.В." value="{{ meet.meet_acc }}" autocomplete="off">
      </div>
      <div class="form-group col-md-4">
        <label for="meetTel">Контактный телефон:</label>
        <input type="text" class="form-control form-control-sm" id="meetTel" name="meetTel" placeholder="(700) 2-22-22" value="{{ meet.meet_tel }}">
      </div>
      <div class="form-group col-md-4"></div>
    </div>

    <div class="form-row">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="meetSave" name="meetSave" value="1" {% if meet.meet_save %}checked{% endif %}>
          <label class="form-check-label" for="meetSave">Необходима запись совещания</label>
        </div>
       <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="meetConfident" id="meetConfident1" value="0" {% if not meet.meet_confident %}checked{% endif %}>
          <label class="form-check-label" for="meetConfident1">Информация общего доступа</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="meetConfident" id="meetConfident2" value="1" {% if meet.meet_confident %}checked{% endif %}>
          <label class="form-check-label" for="meetConfident2">Коммерческая тайна</label>
        </div>
    </div>
    <br>
    <input type="hidden" id="omt_id" name="omt_id" value="{{ meet.id }}">
    <button type="submit" class="btn btn-primary"> {% if meet %}Сохранить{% else %}Создать{% endif %} совещание </button>
    <a role="button" class="btn btn-secondary" href="{% url 'meetings:table' %}" > Отмена </a>
</form>
</div>
{% endblock %}  {# content #}

{% block js-block %}
    <script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "js/bootstrap-datepicker.ru.min.js" %}"></script>
    <script src="{% static "js/bootstrap-timepicker.min.js" %}"></script>
<script type="text/javascript">

    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();

    $('#meetDate').datepicker({
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
        language: "ru",
    });
    $('#meetStart').timepicker({
                minuteStep: 1,
                appendWidgetTo: 'body',
                showSeconds: false,
                showMeridian: false,
                defaultTime: false,
                icons: {    up: 'fa fa-chevron-up',
                            down: 'fa fa-chevron-down'
                },
            });
    $('#meetEnd').timepicker({
                minuteStep: 1,
                appendWidgetTo: 'body',
                showSeconds: false,
                showMeridian: false,
                defaultTime: false,
                icons: {    up: 'fa fa-chevron-up',
                            down: 'fa fa-chevron-down'
                },
            });


var $inputEmployee = $("#meetAcc");

$inputEmployee.typeahead({
  source: [
          {% for e in employees %}{name:"{{ e.f }} {{ e.i }} {{ e.o }}",id:"{{ e.id }}", f:"{{ e.f }}", i:"{{ e.i }}", o:"{{ e.o }}", tel:"{{ e.tel }}"}{% if not forloop.last %},{% endif %}{% endfor %}
  ],
  autoSelect: true
});

$inputEmployee.change(function() {
  var current = $inputEmployee.typeahead("getActive");
  if (current) {
    // Some item from your model is active!
    $("#meetAcc").val(current.f+' '+current.i.substr(0,1)+'.'+current.o.substr(0,1)+'.');
    $("#meetTel").val(current.tel);
    if (current.name == $inputEmployee.val()) {
      // This means the exact match is found. Use toLowerCase() if you want case insensitive match.
    } else {
      // This means it is only a partial match, you can either add a new item
      // or take the active if you don't want new items
        // Выбор осещетсвлен из выпадающего списка по части строки
    }
  } else {
    // Nothing is active so it is a new value (or maybe empty value)
  }
});
</script>
{% endblock %}  {# js-block #}