{% extends "mb_main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="row">
    <div class="col-sm-12">
        <div class="btn-group" role="group" aria-label="meetings menu">
              <a type="button" class="btn btn-secondary" href="{% url 'meetings:add' %}"><i class="fa fa-plus"></i> Создать совещание </a>
        </div>
    </div>
    </div>

    <br>

    <!-- ------------------------------------------- -->
    <!-- meetingDeleteModal ------------------------ -->
    <!-- ------------------------------------------- -->
    <div class="modal" id="meetingDeleteModal" tabindex="-1" role="dialog" aria-labelledby="meetingDeleteModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="meetingDeleteModalTitle">Удаление совещания</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
               Вы действительно хотите удалить совещание <b>"<span></span>"</b>?
          </div>
          <div class="modal-footer">
            <a type="button" class="btn btn-secondary" data-dismiss="modal" href="#">Выйти без удаления</a>
            <a type="button" class="btn btn-primary" href="#" id="meetingDeleteButton">Удалить совещание</a>
          </div>
        </div>
      </div>
    </div>

    <!-- ------------------------------------------- -->
    <!-- membersModal ------------------------------ -->
    <!-- ------------------------------------------- -->
    <div class="modal members-modal-lg" tabindex="-1" role="dialog" id="membersModal" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <span class="modal-title">Участники совещания</span>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body mx-auto">
              <form action="{% url 'meetings:membersupd' %}" method="post" id="members_form">
              {% csrf_token %}
              <table id="membersTable"> </table>
              <input type="hidden" name="meet_id" value="0" id="members_meet_id"/>
              <br>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="membersSave">Сохранить</button>
          </div>
        </div>
      </div>
    </div>

    <!-- ------------------------------------------- -->
    <!-- itemsModal -------------------------------- -->
    <!-- ------------------------------------------- -->
    <div class="modal items-modal-lg" tabindex="-1" role="dialog" id="itemsModal" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <span class="modal-title">Повестка совещания</span>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body mx-auto">
              <form action="{% url 'meetings:itemsupd' %}" method="post" id="items_form">
              {% csrf_token %}
              <table id="itemsTable"> </table>
              <input type="hidden" name="meet_id" value="0" id="items_meet_id"/>
              <br>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="itemsSave">Сохранить</button>
          </div>
        </div>
      </div>
    </div>

    <!-- ------------------------------------------- -->
    <!-- studiosModal ------------------------------ -->
    <!-- ------------------------------------------- -->
    <div class="modal studios-modal-lg" tabindex="-1" role="dialog" id="studiosModal" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <span class="modal-title">Студии</span>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body mx-auto">
              <form action="{% url 'meetings:studiosupd' %}" method="post" id="studios_form">
              {% csrf_token %}
              <table id="studiosTable"> </table>
              <input type="hidden" name="meet_id" value="0" id="studios_meet_id"/>
              <br>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="studiosSave">Сохранить</button>
          </div>
        </div>
      </div>
    </div>


    <!-- ------------------------------------------- -->
    <!-- meetTable          ------------------------ -->
    <!-- ------------------------------------------- -->
    <table class="table table-sm table-hover display" id="meetTable">
      <thead>
        <tr>
          <th scope="col">Действия</th>
          <th scope="col">Дата</th>
          <th scope="col">Тема</th>
          <!--<th scope="col">Место</th>-->
          <th scope="col">Время</th>
          <th scope="col">Участники</th>
          <th scope="col">Повестка</th>
          <th scope="col">Студии</th>
        </tr>
      </thead>
      <tbody>
      {% for m in meetings %}
        <tr>
          <th scope="row">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Удалить совещание" onClick="$('#meetingDeleteButton').attr('href','{% url 'meetings:delete' m.id %}');$('#meetingDeleteModal').find('div.modal-body').find('span').text('{{ m.meet_subj }}');$('#meetingDeleteModal').modal('show');"><i class="fa fa-trash"></i></a>
          <a href="{% url 'meetings:update' m.id %}" data-toggle="tooltip" data-placement="top" title="Изменить данные"><i class="fa fa-edit"></i></a>
          <a href="{% url 'meetings:copy' m.id %}" data-toggle="tooltip" data-placement="top" title="Скопировать"><i class="fa fa-copy"></i></a>
          </th>
          <td>{{ m.meet_date | date:"d.m.Y" }}</td>
          <td>{{ m.meet_subj }}</td>
          <!--<td>{{ m.meet_place }}</td>-->
          <td>{{ m.meet_start }}-{{ m.meet_end }}</td>
          <td>
               <a href="#" data-toggle="modal" data-target=".members-modal-lg" data-meet="{{ m.id }}" data-subj="{{ m.meet_subj }}" data-dt="{{ m.meet_date }}">Участники</a>
               <a href="#" data-toggle="tooltip" data-placement="top" title="Формировать список участников" onClick=""><i class="fa fa-print"></i></a>
          </td>
          <td>
              <a href="#" data-toggle="modal" data-target=".items-modal-lg" data-meet="{{ m.id }}" data-subj="{{ m.meet_subj }}" data-dt="{{ m.meet_date }}">Повестка</a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Формировать повестку" onClick=""><i class="fa fa-print"></i></a>
          </td>
          <td>
              <a href="#" data-toggle="modal" data-target=".studios-modal-lg" data-meet="{{ m.id }}" data-subj="{{ m.meet_subj }}" data-dt="{{ m.meet_date }}">Студии</a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Формировать заявку" onClick=""><i class="fa fa-print"></i></a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}  {# content #}

{% block js-block %}
<script src="{% static "js/jquery.tabledit.min.js" %}"></script>
<script type="text/javascript" src="{% static "appendGrid/jquery.appendGrid-1.7.1.min.js" %}"></script>
<script type="text/javascript">

////////////////////////////////////////////////////////////////
// meetTable Settings and Functions
//
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});

$(document).ready( function () {
    $('#meetTable').DataTable({
            "language": {
                          "processing": "Подождите...",
                          "search": "Поиск:",
                          "lengthMenu": "Показать _MENU_ записей",
                          "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                          "infoEmpty": "Записи с 0 до 0 из 0 записей",
                          "infoFiltered": "(отфильтровано из _MAX_ записей)",
                          "infoPostFix": "",
                          "loadingRecords": "Загрузка записей...",
                          "zeroRecords": "Записи отсутствуют.",
                          "emptyTable": "В таблице отсутствуют данные",
                          "paginate": {
                            "first": "Первая",
                            "previous": "Предыдущая",
                            "next": "Следующая",
                            "last": "Последняя"
                          },
                          "aria": {
                            "sortAscending": ": активировать для сортировки столбца по возрастанию",
                            "sortDescending": ": активировать для сортировки столбца по убыванию"
                          }
                        }
        });
} );

////////////////////////////////////////////////////////////////
// membersModal Settings and Functions
//
$('#membersModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var meet = button.data('meet'); // Extract info from data-* attributes
    var subj = button.data('subj'); // Extract info from data-* attributes
    var dt = button.data('dt'); // Extract info from data-* attributes

    var modal = $('#membersModal');
    modal.find('.modal-title').html('Участники совещания: <b>"' + subj + '"</b><br>Дата совещания: <b>'+dt+'</b>');
    $('#members_meet_id').attr('value',meet);

    // Удаляем все данные таблицы
    while ($('#membersTable').appendGrid('getRowCount')>0)  {
      $('#membersTable').appendGrid('removeRow', 0);
    };

    // Загружаем данные из БД
    var request = $.ajax({
        url: "{% url 'meetings:membersget' 999 %}".replace('999', meet),
        type: "POST",
        data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
        dataType: "json",
        success: function(msg) {
            $('#membersTable').appendGrid('load', msg);
        }
    });

});

$(function () {
    $('#membersTable').appendGrid({caption: 'Участники совещания',
        initRows: 0,
        rowDragging: true,
        hideButtons: { moveUp: true, moveDown: true },
        columns: [
            { name: 'dep', display: 'Организация', ctrlCss: { width: '250px'}, type: 'select', ctrlOptions:
                    [
                        {% autoescape off %}
                        {% for d in deps %}
                            '{{ d.name }}',
                        {% endfor %}
                        {% endautoescape %}
                    ] },
            { name: 'f', display: 'Фамилия', type: 'text', ctrlAttr: { maxlength: 32 } },
            { name: 'i', display: 'Имя', type: 'text', ctrlAttr: { maxlength: 32} },
            { name: 'o', display: 'Отчество', type: 'text', ctrlAttr: { maxlength: 32} },
            { name: 'dol', display: 'Должность', type: 'text', ctrlAttr: { maxlength: 64} },
            { name: 'is_speaker', display: 'Докл.', type: 'checkbox' },
            { name: 'Id', type: 'hidden', value: 0 },
        ],
        //customRowButtons: [
        //      { uiButton: { icon: 'ui-icon-person', showLabel: false }, click: selectEmployee, btnCss: { 'min-width': '30px' }, btnAttr: { title: 'Выбрать сотрудника' }, atTheFront: true },
        //],
        i18n: {
            append: 'Добавить запись',
            removeLast: 'Удалить последнюю запись',
            insert: 'Вставить запись',
            remove: 'Удалить запись',
            moveUp: 'Вверх',
            moveDown: 'Вниз',
        }
    });

    // Handle `Save` button click
    $('#membersSave').button().click(function () {
        msg = $(document.forms[0]).serialize();
        action_url = $('#members_form').attr("action");

        $.ajax({
            type: 'POST',
            url: action_url,
            data: msg,
            success: function (data) {},
            error: function (xhr, str) {}
        });

        $('#membersModal').modal('hide');
        return false;
    });
});

function selectEmployee(evtObj, uniqueIndex, rowData) {
    alert('Возможно тут будет реализован функционал выбора запомненных сотрудников!!!');
    // Check the caller button exist in event object
    //if (evtObj && evtObj.target) {
        // Do something on the button, such as disable the button
    //    $(evtObj.target).button('disable');
    //}
}

////////////////////////////////////////////////////////////////
// itemsModal Settings and Functions
//
$('#itemsModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var meet = button.data('meet'); // Extract info from data-* attributes
    var subj = button.data('subj'); // Extract info from data-* attributes
    var dt = button.data('dt'); // Extract info from data-* attributes

    var modal = $('#itemsModal');
    modal.find('.modal-title').html('Повестка совещания: <b>"' + subj + '"</b><br>Дата совещания: <b>'+dt+'</b>');
    $('#items_meet_id').attr('value',meet);

    // Удаляем все данные таблицы
    while ($('#itemsTable').appendGrid('getRowCount')>0)  {
      $('#itemsTable').appendGrid('removeRow', 0);
    };

    // Загружаем данные из БД
    var request = $.ajax({
        url: "{% url 'meetings:itemsget' 999 %}".replace('999', meet),
        type: "POST",
        data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
        dataType: "json",
        success: function(msg) {
            $('#itemsTable').appendGrid('load', msg);
            $('#itemsTable').appendGrid('load', msg);
        }
    });

});

$(function () {
    $('#itemsTable').appendGrid({caption: 'Повестка совещания',
        initRows: 0,
        columns: [
            { name: 'dep', display: 'Организация', ctrlCss: { width: '250px'}, type: 'select', ctrlOptions:
                    [
                        {% autoescape off %}
                        {% for d in deps %}
                            '{{ d.name }}',
                        {% endfor %}
                        {% endautoescape %}
                    ] },
            { name: 'f', display: 'Фамилия', type: 'text', ctrlAttr: { maxlength: 32 } },
            { name: 'i', display: 'Имя', type: 'text', ctrlAttr: { maxlength: 32} },
            { name: 'o', display: 'Отчество', type: 'text', ctrlAttr: { maxlength: 32} },
            { name: 'dol', display: 'Должность', type: 'text', ctrlAttr: { maxlength: 64} },
            { name: 'item_time', display: 'Время', type: 'text', ctrlAttr: { maxlength: 32} },
            { name: 'Id', type: 'hidden', value: 0 },
        ],
        //customRowButtons: [
        //      { uiButton: { icon: 'ui-icon-person', showLabel: false }, click: selectEmployee, btnCss: { 'min-width': '30px' }, btnAttr: { title: 'Выбрать сотрудника' }, atTheFront: true },
        //],
        i18n: {
            append: 'Добавить запись',
            removeLast: 'Удалить последнюю запись',
            insert: 'Вставить запись',
            remove: 'Удалить запись',
            moveUp: 'Вверх',
            moveDown: 'Вниз',
        },
        useSubPanel: true,
        subPanelBuilder: function (cell, uniqueIndex) {
            // Create a label
            $('<span></span>').text('Тема выступления: ').appendTo(cell);
            // Create a text area
            $('<textarea></textarea>').css('vertical-align', 'middle').attr({
                id: 'itemsTable_item_subj_' + uniqueIndex,
                name: 'itemsTable_item_subj_' + uniqueIndex,
                rows: 1, cols: 140
            }).appendTo(cell);
        },
        subPanelGetter: function (uniqueIndex) {
            // Return the element value inside sub panel for `getAllValue` and `getRowValue` methods
            return { 'item_subj': $('#itemsTable_item_subj_' + uniqueIndex).val() };
        },
        rowDataLoaded: function (caller, record, rowIndex, uniqueIndex) {
            // Check the record contains `item_subj`
            if (record.item_subj) {
                // Get the control in sub panel
                var elem = document.getElementById('itemsTable_item_subj_' + uniqueIndex);
                // Fill the comment values in the sub panel
                elem.value = record.item_subj;
            }
        }
    });

    // Handle `Save` button click
    $('#itemsSave').button().click(function () {
        msg = $(document.forms[1]).serialize();
        action_url = $('#items_form').attr("action");

        $.ajax({
            type: 'POST',
            url: action_url,
            data: msg,
            success: function (data) {},
            error: function (xhr, str) {}
        });

        $('#itemsModal').modal('hide');
        return false;
    });
});

////////////////////////////////////////////////////////////////
// studiosModal Settings and Functions
//
$('#studiosModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var meet = button.data('meet'); // Extract info from data-* attributes
    var subj = button.data('subj'); // Extract info from data-* attributes
    var dt = button.data('dt'); // Extract info from data-* attributes

    var modal = $('#studiosModal');
    modal.find('.modal-title').html('Студии совещания: <b>"' + subj + '"</b><br>Дата совещания: <b>'+dt+'</b>');
    $('#studios_meet_id').attr('value',meet);

    // Удаляем все данные таблицы
    while ($('#studiosTable').appendGrid('getRowCount')>0)  {
      $('#studiosTable').appendGrid('removeRow', 0);
    };

    // Загружаем данные из БД
    var request = $.ajax({
        url: "{% url 'meetings:studiosget' 999 %}".replace('999', meet),
        type: "POST",
        data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
        dataType: "json",
        success: function(msg) {
            $('#studiosTable').appendGrid('load', msg);
        }
    });
});

$(function () {
    $('#studiosTable').appendGrid({caption: 'Студии совещания',
        initRows: 0,
        rowDragging: true,
        hideButtons: { moveUp: true, moveDown: true },
        columns: [
            { name: 'studio__dep_id', display: 'Организация', ctrlCss: { width: '250px'}, type: 'select',
                ctrlOptions: [
                    {% autoescape off %}
                        {value:0, label : '{Выберите организацию}'},
                        {% for d in deps %}
                            {% if d.studios_cnt > 0 %}
                                { value:{{ d.id }}, label : '{{ d.name }}'},
                            {% endif %}
                        {% endfor %}
                    {% endautoescape %}
                ],
                onChange: handle_studiosTableChange_dep,
            },
            {
                name: 'studio_id', display: 'Адрес студии', type: 'select',
                ctrlOptions: { 0: '{Выполните выбор нужной студии для совещания}' },
                onChange: handle_studiosTableChange_addr,
            },
            //{ name: 'studio_type', display: 'Тип', type: 'select', ctrlOptions: {0:'-', 1:'Видео', 2:'Аудио'}, ctrlAttr: { disabled: 'disabled' } },
            { name: 'Id', type: 'hidden', value: 0 },
        ],
        i18n: {
            append: 'Добавить запись',
            removeLast: 'Удалить последнюю запись',
            insert: 'Вставить запись',
            remove: 'Удалить запись',
            moveUp: 'Вверх',
            moveDown: 'Вниз',
        },
        // Поскольку каскадный выпадающий список пуст при вставке строки,
        // требуется после этого генерировать параметры и заполнять значения.
        rowDataLoaded: function (caller, record, rowIndex, uniqueIndex) {
            // Trigger rebuild the cascade drop down list if there is a valid value assigned
            if (0 < record.studio__dep_id) {
                var dep = $('#studiosTable').appendGrid('getCellCtrl', 'studio__dep_id', rowIndex);
                $(dep).trigger('change');
                // Check value of cascade 2
                var studio = $('#studiosTable').appendGrid('getCellCtrl', 'studio_id', rowIndex);
                if (0 < record.studio_id) {
                    $(studio).val(record.studio_id).trigger('change');
                }
            }
        }
    });

    function handle_studiosTableChange_dep(evt, rowIndex) {
        // Get the select elements
        var elem1 = evt.target;
        var elem2 = $('#studiosTable').appendGrid('getCellCtrl', 'studio_id', rowIndex);
        var elem3 = $('#studiosTable').appendGrid('getCellCtrl', 'studio_type', rowIndex);
        // Clear the generated options in elem2 and elem3
        elem2.options.length = 1;
        // Check if user selected a valid option
        if (0 < elem1.selectedIndex) {
            // Загружаем данные из БД для elem2
            $.ajax({
                url: "{% url 'meetings:studiosget_bydep' 999 %}".replace('999', elem1.value),
                type: "POST",
                async: false,
                data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
                dataType: "json",
                success: function(msg) {
                            $.each(msg, function(key, val) {
                                elem2.options[key+1]=new Option(label=val.studio_addr, value=val.id);
	                        });
                }
            });
        }
    }
    function handle_studiosTableChange_addr(evt, rowIndex) {
        var elem2 = evt.target;
        var elem3 = $('#studiosTable').appendGrid('getCellCtrl', 'studio_type', rowIndex);
        //if (0 < elem2.selectedIndex) {
        //    if (elem2.prefix=='V') { elem3.selectedIndex=1 }
        //    else if (elem2.prefix=='A') { elem3.selectedIndex=2 }
        //    else { elem3.selectedIndex=0 };
        //}
        return false;
    }
    // Handle `Save` button click
    $('#studiosSave').button().click(function () {
        msg = $(document.forms[2]).serialize();
        action_url = $('#studios_form').attr("action");
        $.ajax({
            type: 'POST',
            url: action_url,
            data: msg,
            success: function (data) {},
            error: function (xhr, str) {}
        });

        $('#studiosModal').modal('hide');
        return false;
    });
});
</script>
{% endblock %}