{% extends "mb_main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="row">
    <div class="col-sm-12">
        {% if proto_archive %}
            <h2>Архив протоколов (снятые с контроля).</h2>
        {% else %}
        <div class="btn-group" role="group" aria-label="protocols menu">
              <a type="button" class="btn btn-primary" href="{% url 'protocols:add' %}"><i class="fa fa-plus"></i> Создать протокол </a>
        </div>
        {% endif %}
    </div>
    </div>

    <br>

    <!-- ------------------------------------------- -->
    <!-- protocolDeleteModal ------------------------ -->
    <!-- ------------------------------------------- -->
    <div class="modal" id="protocolDeleteModal" tabindex="-1" role="dialog" aria-labelledby="protocolDeleteModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="protocolDeleteModalTitle">
                {% if proto_archive %}
                    Удаление протокола
                {% else %}
                    Перемещение протокола в Архив
                {% endif %}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              {% if proto_archive %}
                  Вы действительно хотите удалить протокол <b>"<span></span>"</b> ?
              {% else %}
                  Снять с контроля протокол <b>"<span></span>"</b>?
              {% endif %}
          </div>
          <div class="modal-footer">
            <a type="button" class="btn btn-secondary" data-dismiss="modal" href="#">Выйти</a>
            <a type="button" class="btn btn-primary" href="#" id="protocolDeleteButton">{% if proto_archive %}Удалить протокол{% else %}В Архив{% endif %}</a>
          </div>
        </div>
      </div>
    </div>

    <!-- ------------------------------------------- -->
    <!-- decsModal  -------------------------------- -->
    <!-- ------------------------------------------- -->
    <div class="modal decs-modal-lg" tabindex="-1" role="dialog" id="decsModal" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <form action="{% url 'protocols:decsupd' %}" method="post" id="decisions_form">
      {% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
              <span class="modal-title">Решения в протокол</span>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body mx-auto">
              <table id="decisionsTable"> </table>
              <input type="hidden" name="proto_id" value="0" id="proto_id"/>
              <ul class="invalid-feedback" id="ulError"></ul>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary" id="decsSave">Сохранить</button>
          </div>
        </div>
        </form>
      </div>
    </div>

    <!-- ------------------------------------------- -->
    <!-- protocolTable          ------------------------ -->
    <!-- ------------------------------------------- -->
    <table class="table table-sm table-hover display w-100" width="100%" id="protoTable">
      <thead>
        <tr>
          <th scope="col">Действия</th>
          <th scope="col">Дата</th>
          <th scope="col">Номер</th>
          <th scope="col">Название</th>
          <th scope="col">Решения</th>
          <th scope="col">Исполнение</th>
        </tr>
      </thead>
      <tbody>
      {% for p in protocols %}
        <tr>
          <th scope="row">
              <a href="#" data-toggle="tooltip" data-placement="top" title="Удалить протокол" onClick="$('#protocolDeleteButton').attr('href','{% url 'protocols:delete' p.id %}');$('#protocolDeleteModal').find('div.modal-body').find('span').text('{{ p.proto_header }}');$('#protocolDeleteModal').modal('show');"><i class="fa fa-trash"></i></a>
              <a href="{% url 'protocols:update' p.id %}" data-toggle="tooltip" data-placement="top" title="Изменить данные"><i class="fa fa-edit"></i></a>
              <a href="{% url 'protocols:copy' p.id %}" data-toggle="tooltip" data-placement="top" title="Скопировать"><i class="fa fa-copy"></i></a>
              <a href="{% url 'protocols:doc' p.id %}" data-toggle="tooltip" data-placement="top" title="Печать протокола"><i class="fa fa-print"></i></a>
          </th>
          <td>{{ p.proto_regdate | date:"d.m.Y" }}</td>
          <td {% if p.proto_regnum == '' %}class="table-warning"{% endif %}>{{ p.proto_regnum }}</td>
          <td {% if p.proto_header == '' %}class="table-warning"{% endif %}>{{ p.proto_header }}</td>
          <td {% if p.decs_cnt == 0 %}class="table-warning"{% endif %}>
              <a href="#" data-toggle="modal" data-target=".decs-modal-lg" data-proto="{{ p.id }}" data-header="{{ p.proto_header }}" data-dt="{{ p.proto_regdate }}">Решения</a>
           </td>
        <td>
              <a href="{% url 'protocols:check' p.id %}" data-toggle="tooltip" data-placement="top" title="Контроль"><!--<i class="fa fa-check-square"></i>-->
              <div class="progress">
                  <div class="progress-bar progress-bar-striped {% if p.progress < 50 %}bg-danger{% elif p.progress < 80 %}bg-warning{% elif p.progress < 100 %}bg-info{% else %}bg-success{% endif %}" role="progressbar" style="width: {{ p.progress|floatformat:'0' }}%" aria-valuenow="{{ p.progress|floatformat:'0' }}" aria-valuemin="0" aria-valuemax="100">{% if p.progress %}{{ p.progress|floatformat:'0' }}%{% endif %}</div>
              </div>
              </a>
        </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}  {# content #}

{% block js-block %}
<script type="text/javascript" src="{% static "js/jquery.tabledit.min.js" %}"></script>
<script type="text/javascript" src="{% static "appendGrid/jquery.appendGrid-1.7.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.validate.min.js" %}"></script>

<script type="text/javascript">

////////////////////////////////////////////////////////////////
// protocolTable Settings and Functions
//
$(document).ready( function () {

    $('#protoTable').DataTable({
            ordering:  true,
            "language": {
                          "processing": "Подождите...",
                          "search": "Поиск:",
                          "lengthMenu": "Показать _MENU_ записей",
                          "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                          "infoEmpty": "Записи с 0 до 0 из 0 записей",
                          "infoFiltered": "(отфильтровано из _MAX_ записей)",
                          "infoPostFix": "",
                          "loadingRecords": "Загрузка записей...",
                          "zeroRecords": "Записи отсутствуют.",
                          "emptyTable": "В таблице отсутствуют данные",
                          "paginate": {
                            "first": "Первая",
                            "previous": "Предыдущая",
                            "next": "Следующая",
                            "last": "Последняя"
                          },
                          "aria": {
                            "sortAscending": ": активировать для сортировки столбца по возрастанию",
                            "sortDescending": ": активировать для сортировки столбца по убыванию"
                          }
                        }
        });
} );

////////////////////////////////////////////////////////////////
// decsModal Settings and Functions
//
$('#decsModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var proto = button.data('proto'); // Extract info from data-* attributes
    var header = button.data('header'); // Extract info from data-* attributes
    var dt = button.data('dt'); // Extract info from data-* attributes

    var modal = $('#decsModal');
    modal.find('.modal-title').html('Повестка совещания: <b>"' + header + '"</b><br>Дата совещания: <b>'+dt+'</b>');
    $('#proto_id').attr('value',proto);

    // Удаляем все данные таблицы
    while ($('#decisionsTable').appendGrid('getRowCount')>0)  {
      $('#decisionsTable').appendGrid('removeRow', 0);
    };

    // Очищаем информацию об ошибках
    $('#ulError').html('');

    // Загружаем данные из БД
    var request = $.ajax({
        url: "{% url 'protocols:decsget' -1 %}".replace('-1', proto),
        type: "POST",
        data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
        dataType: "json",
        success: function(msg) {
            $('#decisionsTable').appendGrid('load', msg);
        }
    });

});

$(function () {
    $('#decisionsTable').appendGrid({caption: 'Решения в протокол',
        initRows: 0,
        columns: [
            { name: 'dec_type', display: 'Тип', type: 'select', ctrlClass: 'form-control form-control-sm', ctrlCss:{width:'120px'},
              ctrlOptions: {
                                {% for t in dec_type_choices %} {{ t.0 }} :'{{ t.1 }}' {% if not forloop.last %},{% endif %} {% endfor %}
                            }
            },
            { name: 'dec_performers', display: 'Исполнители', type: 'text', ctrlClass: 'form-control form-control-sm', ctrlCss:{width:'600px'}, ctrlAttr: { maxlength: 256 } },
            { name: 'dec_term', display: 'Срок', type: 'text', ctrlClass: 'form-control form-control-sm dec_term', ctrlCss:{width:'100px'}, ctrlAttr: { maxlength: 20} },
            { name: 'id', type: 'hidden', value: 0 },
        ],
        //customRowButtons: [
        //      { uiButton: { icon: 'ui-icon-person', showLabel: false }, click: selectEmployee, btnCss: { 'min-width': '30px' }, btnAttr: { title: 'Выбрать сотрудника' }, atTheFront: true },
        //],
        hideButtons: { insert: true },
        i18n: {
            append: 'Добавить запись',
            removeLast: 'Удалить последнюю запись',
            insert: 'Вставить запись',
            remove: 'Удалить запись',
            moveUp: 'Вверх',
            moveDown: 'Вниз',
        },
        useSubPanel: true,
        subPanelBuilder: function (cell, uniqueIndex) {
            // Create a label
            $('<span></span>').text('Решение: ').appendTo(cell);
            // Create a text area
            $('<textarea></textarea>').css('vertical-align', 'middle').attr({
                id: 'decisionsTable_dec_text_' + uniqueIndex,
                name: 'decisionsTable_dec_text_' + uniqueIndex,
                rows: 1, cols: 140,
                class: 'form-control form-control-sm'
            }).appendTo(cell);
        },
        subPanelGetter: function (uniqueIndex) {
            // Return the element value inside sub panel for `getAllValue` and `getRowValue` methods
            return { 'dec_text': $('#decisionsTable_dec_text_' + uniqueIndex).val() };
        },
        rowDataLoaded: function (caller, record, rowIndex, uniqueIndex) {
            // Check the record contains `item_subj`
            if (record.dec_text) {
                // Get the control in sub panel
                var elem = document.getElementById('decisionsTable_dec_text_' + uniqueIndex);
                // Fill the comment values in the sub panel
                elem.value = record.dec_text;
            }
        }
    });

    $('#decsSave').button();
    // Handle `Save` button click
    //$('#decsSave').button().click(function () {

    function decision_submit() {
        msg = $(document.forms[0]).serialize();
        action_url = $('#decisions_form').attr("action");

        $.ajax({
            type: 'POST',
            url: action_url,
            data: msg,
            success: function (data) {
            },
            error: function (xhr, str) {
            }
        });

        $('#decsModal').modal('hide');
        return true;
    };

    $.validator.addMethod('dec_term', function (value, element) {
        result_date = value.search(/^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d$/) != -1 ;
        result_text = value.search(/^\D*$/) != -1;
        return result_date | result_text;
    }, 'В поле "Срок" необходимо ввести Дату в формате "ДД.ММ.ГГГ" либо любое слово, например "постоянно","еженедельно" и т.д.');

    // Initialize validation plugin
    $(document.forms[0]).validate({
        errorLabelContainer: '#ulError',
        wrapper: 'li',
        submitHandler: function () {
            decision_submit();
        }
    });
});
</script>
{% endblock %}