
<li class="nav-item"><a class="nav-link" href="#" onclick="window.location  = 'http://' + window.location.hostname+':3000/';"><font color="white">Состав группы</font></a></li>
<li class="nav-item"><a class="nav-link" href="#" onclick="window.location  = 'http://' + window.location.hostname+':3000/vizovieag';"><font color="white">Документооборот</font></a></li>
<li class="nav-item"><a class="nav-link" href="#" onclick="window.location  = 'http://' + window.location.hostname+'/kanban';"><font color="white">Канбоард</font></a></li>
<li class="nav-item"><a class="nav-link" href="#" onclick="window.location  = 'http://' + window.location.hostname+':4848/hub';" ><font color="white">Аналитика</font></a></li>
<li class="nav-item"><a class="nav-link" href="#" onclick="window.location  = 'http://' + window.location.hostname+':3000/settings';"><font color="white">Настройки</font></a></li>